USE [master]
GO
/****** Object:  Database [got]    Script Date: 07-10-2021 9:46:22 ******/
CREATE DATABASE [got]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'got', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\got.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'got_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\got_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [got].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [got]
GO
/****** Object:  Table [dbo].[Character]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[culture] [varchar](50) NULL,
	[slug] [varchar](50) NULL,
	[image_] [varchar](250) NULL,
	[house] [varchar](50) NULL,
	[alive] [bit] NULL,
	[rank_] [int] NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[character_book]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_book](
	[book_id] [int] NULL,
	[character_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Char_Book_View]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Char_Book_View]
AS
SELECT DISTINCT dbo.Book.name AS book, dbo.Character.id AS char_id
FROM            dbo.Character LEFT OUTER JOIN
                         dbo.character_book ON dbo.Character.id = dbo.character_book.character_id LEFT OUTER JOIN
                         dbo.Book ON dbo.character_book.book_id = dbo.Book.id
GO
/****** Object:  Table [dbo].[character_title]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[character_title](
	[title_id] [int] NULL,
	[character_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title_]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title_](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Title_] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Char_title_View]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Char_title_View]
AS
SELECT DISTINCT dbo.Character.id AS char_id, dbo.Title_.name AS title
FROM            dbo.Character LEFT OUTER JOIN
                         dbo.character_title ON dbo.Character.id = dbo.character_title.character_id LEFT OUTER JOIN
                         dbo.Title_ ON dbo.character_title.title_id = dbo.Title_.id
GO
ALTER TABLE [dbo].[character_book]  WITH CHECK ADD  CONSTRAINT [FK_character_book_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[character_book] CHECK CONSTRAINT [FK_character_book_Book]
GO
ALTER TABLE [dbo].[character_book]  WITH CHECK ADD  CONSTRAINT [FK_character_book_Character] FOREIGN KEY([character_id])
REFERENCES [dbo].[Character] ([id])
GO
ALTER TABLE [dbo].[character_book] CHECK CONSTRAINT [FK_character_book_Character]
GO
ALTER TABLE [dbo].[character_title]  WITH CHECK ADD  CONSTRAINT [FK_character_title_Character] FOREIGN KEY([character_id])
REFERENCES [dbo].[Character] ([id])
GO
ALTER TABLE [dbo].[character_title] CHECK CONSTRAINT [FK_character_title_Character]
GO
ALTER TABLE [dbo].[character_title]  WITH CHECK ADD  CONSTRAINT [FK_character_title_Title_] FOREIGN KEY([title_id])
REFERENCES [dbo].[Title_] ([id])
GO
ALTER TABLE [dbo].[character_title] CHECK CONSTRAINT [FK_character_title_Title_]
GO
/****** Object:  StoredProcedure [dbo].[insertBook]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE procedure [dbo].[insertBook]

@name varchar(50)

AS 

BEGIN

IF ( EXISTS ( SELECT 1 FROM Book where name like '%'+ @name +'%'))
	BEGIN 
	return 0
		--DELETE FROM Character
		--DBCC CHECKIDENT ('Book', RESEED, 1)

		--INSERT INTO Book (name)
		--VALUES (@name)
	END
ELSE

BEGIN 

	--DBCC CHECKIDENT ('Book', RESEED, 1)

		INSERT INTO Book (name)
		VALUES (@name)

END

END
GO
/****** Object:  StoredProcedure [dbo].[insertCharacter]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertCharacter]
@name varchar(50),
@gender varchar(10),
@culture varchar(50), 
@slug varchar (50),
@image varchar(250),
@house varchar(50),
@alive bit,
@rank int
as 
BEGIN
declare @inserted int
		INSERT INTO Character (name, gender, culture, slug, image_, house, alive, rank_)
		OUTPUT  inserted.id
		VALUES (@name, @gender, @culture, @slug, @image, @house, @alive, @rank)
		
END
GO
/****** Object:  StoredProcedure [dbo].[insertCharBook]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertCharBook]

@idChar int, 
@bookName varchar(50)

AS BEGIN

declare @bookId int

select @bookId = id From Book where Book.name like @bookName

		INSERT INTO character_book (book_id, character_id)
		VALUES (@bookId, @idChar)

END
GO
/****** Object:  StoredProcedure [dbo].[insertCharTitle]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertCharTitle]

@idChar int, 
@titleName varchar(50)

AS BEGIN

declare @titleId int

select @titleId = id From Title_ where Title_.name like @titleName

		INSERT INTO character_title (title_id, character_id)
		VALUES (@titleId, @idChar)

END
GO
/****** Object:  StoredProcedure [dbo].[insertTitle]    Script Date: 07-10-2021 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertTitle]
@name varchar (50)
as

BEGIN

IF ( EXISTS ( SELECT 1 FROM Title_ where name like '%'+ @name +'%'))
	BEGIN 
	
		return 0
	END

ELSE
	BEGIN 
		
		INSERT INTO Title_ (name)
		VALUES (@name)

	END

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Character"
            Begin Extent = 
               Top = 46
               Left = 122
               Bottom = 301
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "character_book"
            Begin Extent = 
               Top = 56
               Left = 370
               Bottom = 152
               Right = 540
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Book"
            Begin Extent = 
               Top = 55
               Left = 622
               Bottom = 172
               Right = 792
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 2220
         Width = 2550
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Char_Book_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Char_Book_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Character"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "character_title"
            Begin Extent = 
               Top = 12
               Left = 291
               Bottom = 108
               Right = 461
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Title_"
            Begin Extent = 
               Top = 8
               Left = 516
               Bottom = 104
               Right = 686
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Char_title_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Char_title_View'
GO
USE [master]
GO
